<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-primary mb-4">Tippy</h1> <!-- App Name -->
  <h5 class="text-center mb-4 text-login-color">Tip confidently with Tippy</h5>
  <div class="d-flex flex-column gap-3">
    <a href="/tip_calculator" class="btn btn-primary btn-lg">Use Tippy</a>
    <div class="d-flex flex-row gap-3 align-items-center">
      <h2 class="mb-0">- Admin? -</h2>
      <a href="/admin/dashboard" class="btn btn-lg login-btn">Log In</a>
    </div>
  </div>
</div>
